
body {
    background-color: rgb(251, 251, 251);
    font-family: Arial, sans-serif; /* Specify a common font for consistency */
}
section {
    margin-left: 10%;
    text-align: center; /* Add text alignment to center content within the section */
    margin: 5%;
    padding: 50px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid lightgrey;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: left;
    margin-top: 4%;
    margin-bottom: 2%;
    font-style: italic;
    color: #007BFF;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 10px 0;
    text-align: center; /* Center-align table content */
}

td, th {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
}
nav {
    position: fixed;
    top: 0; /* Make the navigation bar stick to the top */
    left: 0;
    width: 100%; /* Stretch the navigation bar across the screen */
    background-color: #007BFF; /* Change the background color */
    color: #fff; /* Change text color to white */
    padding: 10px; /* Add some padding for better readability */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

button {
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* Update the button's text size */
button a {
    font-size: 16px;
}

/* Add hover effect for the button */
button:hover {
    background-color: #0056b3;
}
